/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define SHIFTED 2
#define FUNCS   3

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC    &kp Q      &kp W      &kp E      &kp R      &kp T      &kp Y      &kp U      &kp I      &kp O      &kp P      &kp BSPC
&kp TAB    &kp A      &kp S      &kp D      &kp F      &kp G      &kp H      &kp J      &kp K      &kp L      &kp SEMI   &kp SQT
&kp LSHFT  &kp Z      &kp X      &kp C      &kp V      &kp B      &kp N      &kp M      &kp COMMA  &kp DOT    &kp UP     &kp ENTER
&kp LCTRL  &mo LOWER  &mo SHIFTED &mo FUNCS &kp LALT   &kp SPACE  &kp RGUI   &kp FSLH   &kp LEFT   &kp DOWN   &kp RIGHT
            >;
        };

        lower_layer {
            bindings = <
&kp TILDE  &kp N1     &kp N2     &kp N3     &kp N4     &kp N5     &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp DEL
&none      &none      &none      &none      &none      &none      &none      &kp LBKT   &kp RBKT   &kp BSLH   &kp MINUS  &kp EQUAL
&none      &none      &none      &none      &none      &none      &none      &none      &none      &none      &none      &none
&none      &none      &none      &none      &none      &none      &none      &none      &none      &none      &none
            >;
        };

        shifted_layer {
            bindings = <
&kp GRAVE  &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT  &kp CARET  &kp AMPS   &kp STAR   &kp LPAR   &kp RPAR   &none
&none      &none      &none      &none      &none      &none      &none      &kp LBRC   &kp RBRC   &kp PIPE   &kp UNDER  &kp PLUS
&none      &none      &none      &none      &none      &none      &none      &none      &none      &none      &none      &none
&none      &none      &none      &none      &none      &none      &none      &none      &none      &none      &none
            >;
        };

        function_layer {
            bindings = <
&kp F1     &kp F2     &kp F3     &kp F4     &kp F5     &kp F6     &kp F7     &kp F8     &kp F9     &kp F10    &kp F11    &kp F12
&none      &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &kp C_PREV &kp C_PP &kp C_NEXT &none &kp HOME &kp END &kp PG_UP &kp PG_DN
&kp CAPS   &none      &kp C_BRI_DN &kp C_BRI_UP &none &none &none &none &none &kp INS &none &kp PSCRN
&none      &none      &none      &none      &to 4      &none      &none      &none      &none      &none      &none
            >;
        };
        Game {
            bindings = <
&kp ESC      &kp N1     &kp N2     &kp N3     &kp N4     &kp N5     &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp BSPC
&kp TAB      &kp Q      &kp W      &kp E      &kp R      &kp T      &kp Y      &kp U      &kp I      &kp O      &kp P      &kp F17
&kp LCTRL    &kp A      &kp S      &kp D      &kp F      &kp G      &kp H      &kp J      &kp K      &kp L      &kp UP      &kp ENTER
&kp LSHFT    &kp F13      &kp F14      &kp F15      &kp F16      &kp SPACE      &to 0      &kp FSLH      &kp LEFT      &kp DOWN      &kp RIGHT
            >;
        };
    };
};